<div mc-full-panel mc-accordion mc-open-panel="clinicalStatements" class="panel-group accordion">
  <div class="panel panel-secondary" ng-if="getShowPanel('clinicalStatements') && !isEdit" ng-class="getOpenPanelClass('clinicalStatements')">
    <div class="panel-heading">
      <div class="control-group right">
        <button class="btn btn-success btn-inverse btn-square hidden-xs hidden-sm btn-expand-panel" ng-click="changeFullPanel('details', 'clinicalStatements')"><i class="fa fa-expand"></i><i class="fa fa-compress"></i></button>
        <button class="btn btn-success btn-inverse btn-square btn-toggle-rotate" ng-click="openPanel('clinicalStatements')"><i class="fa fa-chevron-up"></i></button>
      </div>
      <h3 class="panel-title">Clinical Statement</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body-inner">
        <div class="form">
          <div class="form-group-wrapper">

            <div class="form-group">
              <label class="control-label">Statements</label>
              <div class="form-control-static">
                <ul ng-repeat="statement in $ctrl.statementsText track by $index">
                  <li>{{ statement }}</li>
                </ul>
            </div>

            <div class="form-group">
              <label class="control-label">Author</label>
              <div class="form-control-static">{{ $ctrl.clinicalStatements.author }}</div>
            </div>

            <div class="form-group">
              <label class="control-label">Date</label>
              <div class="form-control-static">{{ $ctrl.clinicalStatements.dateCreated }}</div>
            </div>

            <div class="form-group">
              <label class="control-label">Source</label>
              <div class="form-control-static">{{ $ctrl.clinicalStatements.source }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-control" ng-if="$ctrl.currentUser.permissions.indexOf('WRITE') !== -1">
        <div class="wrap-control-group">
          <div class="control-group right">
            <button class="btn btn-success btn-inverse btn-edit" ng-click="$ctrl.edit();"><i class="fa fa-edit"></i> Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>